.warning-box {
  font: 14px/23px 'Open Sans';
  margin: 0 0 50px;
  border-left: 4px solid #f77b68;
  padding: 0 0 0 20px;
}

#faq-list {
  border: 1px solid #ccc;
  li {
    border-top: 1px solid #ccc;
    margin: 0;
    &:first-of-type {
      border: none;
    }
  }
}

.faq-page .container > p:last-of-type {
  margin: 50px 0 0;
  font: 14px/23px 'Open Sans';
}

.faqs {
  .page-heading {
    padding: 80px 0;
  }

  .icon-attention {
    color: $color-orange;
  }

  .faq {
    margin: 7px 0;
  }

  a[data-toggle="collapse"] {
    font-size: 18px;
    display: block;
    padding: 20px 10px;
    color: $color-header-primary;

    &:before {
      content: "\e813";
      font-family: "fontello";
      font-style: normal;
      font-weight: normal;
      speak: none;
      display: inline-block;
      text-decoration: inherit;
      width: 1em;
      margin-right: .2em;
      text-align: center;
      font-variant: normal;
      text-transform: none;
      line-height: 1em;
      margin-left: .2em;
    }

    &[aria-expanded="true"] {
      &:before {
        content: "\e811";
      }
    }

    &:focus, &:hover {
      text-decoration: none;
      opacity: .7;
    }
  }

  .faq-collapse {
    padding: 10px 30px 30px;
    font: 14px/26px 'Open Sans', Helvetica, Arial, sans-serif;
    * {
      font: 14px/26px 'Open Sans', Helvetica, Arial, sans-serif;
    }
  }
}
