.jobs {
  .jobs-images {
    .col-xs-10 {
      margin: 50px auto 0;
      float: none;
      font-size: 18px;
      line-height: 32px;
      p {
        color: $color-font-primary;
        @media screen and (max-width: $screen-xs-min), screen and (max-device-width: $screen-xs-min) {
          font-size: 16px;
          line-height: 26px;
        }
      }
    }
  }
  .we-re-looking {
    .col-xs-10 {
      margin: 0 auto;
      float: none;
      font: 14px/26px 'Open Sans', Helvetica, Arial, sans-serif;
    }
  }

  .job-listing {
    padding-top: 0;
    .container {
      border-top: 1px solid #eee;
    }
    h2 {
      padding: 70px 0;
      text-align: center;
    }
    .tab-pane {
      font: 14px/26px 'Open Sans', Helvetica, Arial, sans-serif;
      p, li {
        font: 14px/26px 'Open Sans', Helvetica, Arial, sans-serif;
      }
      h3 + p {
        margin: 5px 0 0;
        font-size: 14px;
        & + h5 {
          font-size: 12px;
          font-weight: 700;
          text-transform: uppercase;
        }
      }
    }
  }

  .values {
    @media (max-width: $screen-xs-max) {
      padding-bottom: 20px;
    }
  }

  #benefits {
    li {
      font-size: 1.2em;
    }
  }

  #jobs {
    margin: 0 0 40px;
    padding: 20px;
    h4 {
      font-size: 13px;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 18px;
    }
  }

  .nav-pills {
    display: block;

    & > li[role="presentation"] {
      margin: 5px 0 0;
    }
    > li {
      margin: 15px 0;
      display: block;
      float: none;

      > a {
        position: relative;
        color: $color-header-primary;
        padding: 3px 0 3px 15px;
        font: 14px/26px 'Open Sans', Helvetica, Arial, sans-serif;
        &:before {
          position: absolute;
          top: 14px;
          left: 0;
          content: "";
          background: #b7b7b7;
          width: 4px;
          height: 4px;
          border-radius: 50%;
        }
      }

      > a:focus, > a:hover {
        background-color: transparent;
      }

      &.active {
        > a, > a:focus, > a:hover {
          background-color: transparent;
          color: $color-light-blue;
        }
        & > a:before {
          background: $color-light-blue;
        }
      }
    }
  }
}

.careers-values {
  padding-left: 25px;
}

#perks {
  h3 {
    padding-bottom: 15px;
  }
}