#toc, #privacy {
  padding: 0 0 90px;
  font: 14px/26px 'Open Sans', Helvetica, Arial, sans-serif;
  h3 {
    text-align: center;
    font-weight: 700;
    margin: 0 0 50px;
  }
  h5, h6 {
    font: 20px/26px Montserrat, Helvetica, Arial, sans-serif;
    margin: 25px 0;
  }
  h5 {
    color: #555;
    font-size: 26px;
    margin: 50px 0;
  }
  h6 {
    color: #555;
    font-weight: 700;
  }
}

#toc h3 {
  margin: 50px 0;
}